.content {
    padding-bottom: 10px;
}

.footer {
    background-color:#f5f5f5;
    padding: 10px 0 10px 0;
}

.avatar-post {
    width:50px;
}

.avatar-profile {
    width:100px;
}

.profile-info {
    padding: 0 0 10px 0;
}

.profile-links {
    padding: 10px 0 10px 0;
}

.message-new {
    font-weight: bold;
}

.button-margin {
    margin-top: 5px;
}